.page {
  .build {
    padding: 0 25px;

    img {
      cursor: pointer;
      transition: transform 200ms;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .show {
    padding: 25px;
  }

  .border {
    border: 1px solid #000000;
    width: 500px;
    height: 500px;
  }

  .output {
    width: 500px;
    height: 500px;
    position: relative;

    img {
      touch-action: none;
      position: absolute;
      z-index: 1;
    }
  }

  .mint {
    padding: 0 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1854d5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;

    &.minting {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
